[Unit]
Description=APT-Cacher
After=sysinit.target
Wants=nss-lookup.target nss-user-lookup.target
Before=nss-lookup.target nss-user-lookup.target

[Service]
Type=forking
ExecStart=/usr/share/apt-cacher/apt-cacher.init start
ExecStop=/usr/share/apt-cacher/apt-cacher.init stop
Restart=always
PIDFile=/var/run/apt-cacher/apt-cacher.pid

[Install]
WantedBy=multi-user.target
